@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 antialiased;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: 1 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: auto;
}
